{% include header.html %}

<section id="post-header">
  <div class="container">
    <h1>Our work</h1>
    <h2>Some of the things we've worked on in the past. Will yours be next?</h2>
  </div>
</section>

<section class="work">
  <aside>
    <img class="animated" src="/uploads/conferoo.jpg"/>
  </aside>
  <aside>
    <h5>Mobile app</h5>
    <h3 class="animated">Conferoo</h3>
    <p>A public sector conference needed a mobile app for guests to manage their personal agendas, see updates from organisers and answer polls.</p>
    <p>We delivered a bespoke web application that allowed delegates to sign in with their normal work email addresses, and even worked offline for a truly seamless user experience.</p>
  </aside>
</section>

<section class="work">
  <aside>
    <img class="animated" src="/uploads/smoke.jpg"/>
  </aside>
  <aside>
    <h5>Digital transformation</h5>
    <h3 class="animated">Smoke Radio</h3>
    <p>The UK's top student radio station needed a refresh their online presence, and transform their broadcasting technology for the digital age.</p>
    <p>We provided a new website, mobile application for listening on the go and a new broadcasting infrastructure backed by easy-to-use, custom software tools.</p>
  </aside>
</section>

<section class="work">
  <aside>
    <img class="animated" src="/uploads/forge.jpg"/>
  </aside>
  <aside>
    <h5>Web development</h5>
    <h3 class="animated">Forge TV</h3>
    <p>The student television station at the University of Sheffield needed a new website.</p>
    <p>We created a mobile-first Wordpress site with a distinctive, on-brand look that integrated dynamically with all the places Forge TV published video content, especially Youtube.</p>
  </aside>
</section>

<section class="work">
  <aside>
    <img class="animated" src="/uploads/uwsu.jpg"/>
  </aside>
  <aside>
    <h5>Digital marketing</h5>
    <h3 class="animated">Westminster SU</h3>
    <p>The University of Westminster Students' Union needed a set of landing pages to serve key business goals on their brand new website.</p>
    <p>We provided a suite of mobile-first, interactive pages, including digital advertising brochures and annual reports.</p>
  </aside>
</section>

{% include footer.html %}
